.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #897b65;
  filter: drop-shadow(1px 1px 2px #897b65);
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  margin-left: 30px;
  height: 175px;
  width: 175px;
  padding: 15px;
}
