.navContainer {
  display: flex;
  flex-direction: row;
}

.navLink {
  margin: 10px;
  color: #8ac5fa;
  text-decoration: none;
  font-size: 24px;
}

@media (min-width: 800px) {
  .navContainer {
    margin-right: 30px;
  }
  .navLink {
    font-size: 32px;
  }
}
